In [1]:
import pandas as pd
import numpy as np

data_directory = "../data/"
tables_directory = data_directory + "tables/"

In [2]:
consumer_file_loc = tables_directory + "tbl_consumer.csv"
consumers = pd.read_csv(consumer_file_loc, sep="|")
consumers.head()

,name,address,state,postcode,gender,consumer_id
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975

In [3]:
consumers.count()

name           499999
address        499999
state          499999
postcode       499999
gender         499999
consumer_id    499999
dtype: int64

In [4]:
merchants_file_loc = tables_directory + "tbl_merchants.parquet"
merchants = pd.read_parquet(merchants_file_loc)
merchants.head()

,name,tags
merchant_abn,,
10023283211,Felis Limited,"((furniture, home furnishings and equipment sh..."
10142254217,Arcu Ac Orci Corporation,"([cable, satellite, and otHer pay television a..."
10165489824,Nunc Sed Company,"([jewelry, watch, clock, and silverware shops]..."
10187291046,Ultricies Dignissim Lacus Foundation,"([wAtch, clock, and jewelry repair shops], [b]..."
10192359162,Enim Condimentum PC,"([music shops - musical instruments, pianos, a..."

In [5]:
merchants.count()

name    4026
tags    4026
dtype: int64

In [6]:
consumers_info_loc = tables_directory + "consumer_user_details.parquet"
consumers_info = pd.read_parquet(consumers_info_loc)
consumers_info.head()

   user_id  consumer_id
0        1      1195503
1        2       179208
2        3      1194530
3        4       154128
4        5       712975

In [7]:
consumers_info.count()

user_id        499999
consumer_id    499999
dtype: int64