In [5]:
import pandas as pd

In [6]:
data_path = "../data/curated/merged_transactions.parquet"
data = pd.read_parquet(data_path)
data.head()

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,sector_tags,revenue_band,take_rate,...,state,postcode,gender,comp_Yr_12_eq_percent,comp_Yr_12_eq_percent_M,comp_Yr_12_eq_percent_F,house_repay_to_income,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_mortgage_repay_monthly
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,WA,6935,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20864,28000487688,378.937918,f7eca4c5-474b-4ab2-ad61-6a8219b26d67,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,QLD,4113,Female,0.592941,0.600954,0.584624,0.218997,35.0,753.0,1730.0
2,22666,28000487688,108.164737,f93ae993-80eb-42d1-aaa6-3659e759ed87,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,QLD,4055,Female,0.531211,0.521567,0.540709,0.194157,38.0,1023.0,2100.0
3,23228,28000487688,329.178020,2a61a2f3-fbca-4011-87a3-6f45b4f1f7ed,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,NSW,2048,Male,0.674367,0.659671,0.688491,0.289064,36.0,1283.0,3000.0
4,5131,28000487688,425.750157,b0b4b456-e286-4b84-8313-f5c7210c7b4b,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,WA,6904,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data[~data.isna().any(axis=1)].sample(n=10)

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,sector_tags,revenue_band,take_rate,...,state,postcode,gender,comp_Yr_12_eq_percent,comp_Yr_12_eq_percent_M,comp_Yr_12_eq_percent_F,house_repay_to_income,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_mortgage_repay_monthly
2802673,19972,68216911708,24.792152,cb85fdac-c73d-49cb-9603-90efd8fb8d79,2021-12-15,Placerat Eget Venenatis Limited,"[[computers, computer peripheral equipment, an...","computers, computer peripheral equipment, and ...",c,3.05,...,WA,6175,Male,0.385974,0.351964,0.414622,0.206422,35.0,920.0,1950.0
4055056,16768,72472909171,30.722343,6ef67283-0d6d-4b57-9ab2-ff7affb33852,2022-10-18,Nullam Consulting,"([digiTal goods: books, movies, music], [a], [...","digital goods: books, movies, music",a,6.33,...,VIC,3391,Female,0.254144,0.155556,0.325843,0.087179,50.0,703.0,510.0
4763016,18858,89726005175,23.030158,f7303b5b-3214-481b-98c0-e46c6910ce29,2022-09-07,Est Nunc Consulting,"((tent and awning shops), (a), (take rate: 6.01))",tent and awning shops,a,6.01,...,SA,5346,Undisclosed,0.240000,0.172973,0.311224,0.156677,50.0,631.0,867.0
3998679,11460,72472909171,81.668804,2f2b5f6a-e2a1-488d-8d17-500a41ec8b94,2021-11-25,Nullam Consulting,"([digiTal goods: books, movies, music], [a], [...","digital goods: books, movies, music",a,6.33,...,NSW,2175,Male,0.341899,0.340378,0.347630,0.351288,45.0,764.0,3250.0
12959519,20563,44488833452,226.230410,6cdf9c89-7742-40ac-9405-10ba83aa4805,2022-05-12,Aliquet Diam Inc.,"[(health and beauty spas), (b), (take rate: 5....",health and beauty spas,b,5.04,...,VIC,3142,Female,0.705235,0.710186,0.701253,0.287163,47.0,1427.0,3152.0
10335332,19010,29639699851,249.474265,db038aab-5b82-485f-ae1b-01e924b8b814,2021-09-12,Sodales Elit Erat Corporation,"([lawn and garden supply outlets, including nu...","lawn and garden supply outlets, including nurs...",a,6.21,...,WA,6324,Male,0.334491,0.299896,0.370756,0.251889,47.0,629.0,1300.0
9795350,717,46298404088,52.372709,2e5c419e-b235-48c5-8583-3368c219161e,2022-03-06,Feugiat Sed Nec Institute,"[[books, periodicals, and newspapers], [a], [t...","books, periodicals, and newspapers",a,6.16,...,VIC,3880,Male,0.360094,0.337993,0.382340,0.284608,63.0,559.0,1200.0
8515294,5215,69703285964,53.159880,5f948021-8fe1-4518-b5e2-82559d283f1e,2022-06-14,Suspendisse Incorporated,"((cable, satellite, and other pay television a...","cable, satellite, and other pay television and...",a,5.77,...,NSW,2339,Female,0.281337,0.236074,0.328446,0.263837,45.0,687.0,1500.0
11147614,10286,44126901587,31.706426,f1ddc289-f8e9-4000-be8d-7979fd79fee6,2022-05-20,Tempus Non Associates,"[(watch, clock, and jewelry repaIr shops), (a)...","watch, clock, and jewelry repair shops",a,6.45,...,WA,6485,Male,0.319911,0.320513,0.294393,0.148428,54.0,577.0,557.0
11847577,11822,39211701585,71.260687,87ced522-2e62-4742-8168-a844068a8559,2022-03-20,Diam Eu Dolor PC,"([shoe shops], [b], [take rate: 4.76])",shoe shops,b,4.76,...,NSW,2067,Undisclosed,0.668402,0.664577,0.671940,0.316846,38.0,944.0,3000.0

In [8]:
data.count()

user_id                          13171143
merchant_abn                     13171143
dollar_value                     13171143
order_id                         13171143
order_datetime                   13171143
merchant_name                    13171143
tags                             13171143
sector_tags                      13171143
revenue_band                     13171143
take_rate                        13171143
consumer_name                    13171143
state                            13171143
postcode                         13171143
gender                           13171143
comp_Yr_12_eq_percent            10994047
comp_Yr_12_eq_percent_M          10979804
comp_Yr_12_eq_percent_F          10965564
house_repay_to_income            10975427
Median_age_persons               11000042
Median_tot_prsnl_inc_weekly      11000042
Median_mortgage_repay_monthly    11000042
dtype: int64

In [5]:
data[data.isna().any(axis=1)]

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,sector_tags,revenue_band,take_rate,...,state,postcode,gender,comp_Yr_12_eq_percent,comp_Yr_12_eq_percent_M,comp_Yr_12_eq_percent_F,house_repay_to_income,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_mortgage_repay_monthly
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,WA,6935,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5131,28000487688,425.750157,b0b4b456-e286-4b84-8313-f5c7210c7b4b,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,WA,6904,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3081,28000487688,91.951640,f1e36fa3-5524-448f-9be8-8e52fecf9909,2021-03-01,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,ACT,200,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,9387,28000487688,187.605694,2b1858cb-fc3b-4a74-9ef6-70187cae08c9,2021-03-02,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,NT,861,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,13485,28000487688,71.946466,7aee39b3-018a-4ed5-924d-f07504484adf,2021-03-04,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,NSW,1210,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13614638,18627,10165489824,20636.897020,a54e6340-5ace-42fb-803f-94d47fc3f6cb,2021-11-30,Nunc Sed Company,"([jewelry, watch, clock, and silverware shops]...","jewelry, watch, clock, and silverware shops",b,4.40,...,NSW,1741,Undisclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614646,1930,98082781436,4126.681609,c78b05e4-ca32-477b-9050-379375cc50d9,2022-01-18,Augue Scelerisque Mollis LLP,"((antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",c,2.82,...,NSW,1240,Undisclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614656,15030,24174334793,25012.279595,2c2fb26c-917e-4e92-84f6-75704d913f90,2022-02-10,Nunc Sollicitudin LLP,"((antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",c,2.20,...,NSW,2012,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614663,14718,28311306642,22835.123136,61305685-ee57-42f7-b5b1-2a0cb2b6c28f,2022-03-08,Egestas Nunc Sed LLC,"[[antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",b,4.93,...,NSW,1036,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614671,2327,46537010521,2429.912404,a6c6fe4a-9e8c-46d3-af7d-6e05aa404d6b,2022-04-23,Tempor Augue Ac Company,"[(jewelry, watch, clock, and silverware shops)...","jewelry, watch, clock, and silverware shops",c,2.18,...,WA,6969,Undisclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN