In [1]:
import pandas as pd

In [2]:
data_path = "../data/curated/transactions.parquet"
data = pd.read_parquet(data_path)
data.head()

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,sector_tags,revenue_band,take_rate,...,state,postcode,gender,comp_Yr_12_eq_percent,comp_Yr_12_eq_percent_M,comp_Yr_12_eq_percent_F,house_repay_to_income,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_mortgage_repay_monthly
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,WA,6935,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20864,28000487688,378.937918,f7eca4c5-474b-4ab2-ad61-6a8219b26d67,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,QLD,4113,Female,0.592941,0.600954,0.584624,0.218997,35.0,753.0,1730.0
2,22666,28000487688,108.164737,f93ae993-80eb-42d1-aaa6-3659e759ed87,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,QLD,4055,Female,0.531211,0.521567,0.540709,0.194157,38.0,1023.0,2100.0
3,23228,28000487688,329.178020,2a61a2f3-fbca-4011-87a3-6f45b4f1f7ed,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,NSW,2048,Male,0.674367,0.659671,0.688491,0.289064,36.0,1283.0,3000.0
4,5131,28000487688,425.750157,b0b4b456-e286-4b84-8313-f5c7210c7b4b,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,WA,6904,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data[~data.isna().any(axis=1)].sample(n=10)

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,sector_tags,revenue_band,take_rate,...,state,postcode,gender,comp_Yr_12_eq_percent,comp_Yr_12_eq_percent_M,comp_Yr_12_eq_percent_F,house_repay_to_income,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_mortgage_repay_monthly
134022,1542,43186523025,57.586230,ae1f8a3c-3fdb-4817-a031-2808ea42387a,2021-05-14,Lorem Ipsum Sodales Industries,"([florists supplies, nurSery stock, and flower...","florists supplies, nurSery stock, and flowers",b,4.47,...,VIC,3412,Female,0.261017,0.189189,0.289655,0.156052,50.0,570.0,566.0
119939,14694,43186523025,10.433487,8faad9bc-8967-4afd-b648-72b76b6e70ed,2021-03-21,Lorem Ipsum Sodales Industries,"([florists supplies, nurSery stock, and flower...","florists supplies, nurSery stock, and flowers",b,4.47,...,NSW,2707,Male,0.307626,0.234323,0.391459,0.128337,43.0,843.0,867.0
9270564,22966,29633331621,64.490186,846ffc52-3bc9-436c-b642-b9bf564e84d0,2022-10-03,Augue Sed Inc.,"([digital goods: books, movies, music], [c], [...","digital goods: books, movies, music",c,1.78,...,NSW,2344,Female,0.351632,0.296188,0.403030,0.210550,47.0,772.0,1562.0
8748305,14290,58454491168,522.230065,dfcab841-5b08-4ae1-b152-8cbc2f2c82b5,2021-09-07,Diam At Foundation,"([computer programming , datA processing, and ...","computer programming , datA processing, and in...",a,6.01,...,VIC,3506,Female,0.515152,0.470588,0.238095,0.266016,35.0,562.0,1200.0
10831869,17825,89932674734,260.999431,aa38de04-ea44-43d0-9b40-da27cd8002e3,2022-06-29,Nulla Vulputate Company,"((aRtist supply and craft shops), (c), (take r...",aRtist supply and craft shops,c,1.67,...,SA,5074,Undisclosed,0.507163,0.504608,0.508869,0.272234,39.0,727.0,1707.0
12526942,10774,77343745836,925.527861,5942ed51-1c86-4013-b425-ca69e56c434f,2021-04-08,Nunc Ullamcorper Velit LLC,"((healTh and beauty spas), (b), (take rate: 3....",healTh and beauty spas,b,3.45,...,QLD,4509,Female,0.487985,0.476087,0.499388,0.218210,33.0,916.0,1998.0
12316572,1577,45362042297,24.410157,ab1c2bf7-ea68-4fe8-914b-0d5135a11528,2022-05-24,Cursus Integer Foundation,"((watch, clock, and jewelry repair shops), (a)...","watch, clock, and jewelry repair shops",a,6.05,...,TAS,7052,Female,0.496228,0.475374,0.514819,0.211475,42.0,887.0,1655.0
6189980,15321,91923722701,27.663309,dc963cfd-bb59-44c3-b9d2-1f74dfec48c2,2022-01-31,Euismod Urna Institute,"((tent and awning shops), (b), (take rate: 5.05))",tent and awning shops,b,5.05,...,NSW,2063,Male,0.625751,0.624563,0.625447,0.276935,44.0,1375.0,4649.0
6578647,9372,80995075637,100.782132,6ea7be5d-480b-4ba8-852a-50ce3c4e1df4,2022-06-24,Facilisis Suspendisse Inc.,"[(shoe shops), (c), (take rate: 2.97)]",shoe shops,c,2.97,...,VIC,3556,Female,0.307993,0.275887,0.337767,0.244101,39.0,653.0,1300.0
9449439,19456,87771712045,141.241130,27512fbf-ecb1-4f83-8868-53aab4f8ca67,2021-09-22,Vivamus Sit LLC,"((computer progrAmminG , data processing, and ...","computer progrAmminG , data processing, and in...",a,6.13,...,WA,6352,Female,0.273256,0.257732,0.301370,0.098924,40.0,900.0,607.0

In [4]:
data.count()

user_id                          13171143
merchant_abn                     13171143
dollar_value                     13171143
order_id                         13171143
order_datetime                   13171143
merchant_name                    13171143
tags                             13171143
sector_tags                      13171143
revenue_band                     13171143
take_rate                        13171143
consumer_name                    13171143
state                            13171143
postcode                         13171143
gender                           13171143
comp_Yr_12_eq_percent            10994047
comp_Yr_12_eq_percent_M          10979804
comp_Yr_12_eq_percent_F          10965564
house_repay_to_income            10975427
Median_age_persons               11000042
Median_tot_prsnl_inc_weekly      11000042
Median_mortgage_repay_monthly    11000042
dtype: int64

In [5]:
data[data.isna().any(axis=1)]

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,sector_tags,revenue_band,take_rate,...,state,postcode,gender,comp_Yr_12_eq_percent,comp_Yr_12_eq_percent_M,comp_Yr_12_eq_percent_F,house_repay_to_income,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_mortgage_repay_monthly
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,WA,6935,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5131,28000487688,425.750157,b0b4b456-e286-4b84-8313-f5c7210c7b4b,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,WA,6904,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3081,28000487688,91.951640,f1e36fa3-5524-448f-9be8-8e52fecf9909,2021-03-01,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,ACT,200,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,9387,28000487688,187.605694,2b1858cb-fc3b-4a74-9ef6-70187cae08c9,2021-03-02,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,NT,861,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,13485,28000487688,71.946466,7aee39b3-018a-4ed5-924d-f07504484adf,2021-03-04,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, anD newspapers",b,4.24,...,NSW,1210,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13614638,18627,10165489824,20636.897020,a54e6340-5ace-42fb-803f-94d47fc3f6cb,2021-11-30,Nunc Sed Company,"([jewelry, watch, clock, and silverware shops]...","jewelry, watch, clock, and silverware shops",b,4.40,...,NSW,1741,Undisclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614646,1930,98082781436,4126.681609,c78b05e4-ca32-477b-9050-379375cc50d9,2022-01-18,Augue Scelerisque Mollis LLP,"((antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",c,2.82,...,NSW,1240,Undisclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614656,15030,24174334793,25012.279595,2c2fb26c-917e-4e92-84f6-75704d913f90,2022-02-10,Nunc Sollicitudin LLP,"((antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",c,2.20,...,NSW,2012,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614663,14718,28311306642,22835.123136,61305685-ee57-42f7-b5b1-2a0cb2b6c28f,2022-03-08,Egestas Nunc Sed LLC,"[[antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",b,4.93,...,NSW,1036,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13614671,2327,46537010521,2429.912404,a6c6fe4a-9e8c-46d3-af7d-6e05aa404d6b,2022-04-23,Tempor Augue Ac Company,"[(jewelry, watch, clock, and silverware shops)...","jewelry, watch, clock, and silverware shops",c,2.18,...,WA,6969,Undisclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN