In [1]:
import pandas as pd

In [2]:
data_path = "../data/curated/merged_transactions.parquet"
data = pd.read_parquet(data_path)
data.head()

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,sector_tags,revenue_band,take_rate,...,state,postcode,gender,comp_Yr_12_eq_percent,comp_Yr_12_eq_percent_M,comp_Yr_12_eq_percent_F,house_repay_to_income,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_mortgage_repay_monthly
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,WA,6935,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20864,28000487688,378.937918,f7eca4c5-474b-4ab2-ad61-6a8219b26d67,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,QLD,4113,Female,0.592941,0.600954,0.584624,0.218997,35.0,753.0,1730.0
2,22666,28000487688,108.164737,f93ae993-80eb-42d1-aaa6-3659e759ed87,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,QLD,4055,Female,0.531211,0.521567,0.540709,0.194157,38.0,1023.0,2100.0
3,23228,28000487688,329.178020,2a61a2f3-fbca-4011-87a3-6f45b4f1f7ed,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,NSW,2048,Male,0.674367,0.659671,0.688491,0.289064,36.0,1283.0,3000.0
4,5131,28000487688,425.750157,b0b4b456-e286-4b84-8313-f5c7210c7b4b,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...","books, periodicals, and newspapers",b,4.24,...,WA,6904,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data["sector_tags"].value_counts()

tent and awning shops                                                                    1771141
gift, card, novelty, and souvenir shops                                                  1586534
digital goods: books, movies, music                                                      1240476
watch, clock, and jewelry repair shops                                                    998140
cable, satellite, and other pay television and radio services                             925853
florists supplies, nursery stock, and flowers                                             852780
opticians, optical goods, and eyeglasses                                                  809177
computers, computer peripheral equipment, and software                                    694109
computer programming , data processing, and integrated systems design services            500805
furniture, home furnishings and equipment shops, and manufacturers, except appliances     481065
artist supply and craft shops                                                             453805
shoe shops                                                                                417605
books, periodicals, and newspapers                                                        380858
lawn and garden supply outlets, including nurseries                                       336409
music shops - musical instruments, pianos, and sheet music                                310071
motor vehicle supplies and new parts                                                      297818
health and beauty spas                                                                    237256
hobby, toy and game shops                                                                 227223
bicycle shops - sales and service                                                         217526
antique shops - sales, repairs, and restoration services                                  173285
stationery, office supplies and printing and writing paper                                165593
equipment, tool, furniture, and appliance rent al and leasing                              35385
telecom                                                                                    33102
art dealers and galleries                                                                  20448
jewelry, watch, clock, and silverware shops                                                 4679
Name: sector_tags, dtype: int64

https://www.citibank.com/tts/solutions/commercial-cards/assets/docs/govt/Merchant-Category-Codes.pdf

Miscellaneous Stores: tent and awning shops; Card, Gift, Novelty and Souvenir Shops; digital goods: books, movies, music; watch, clock, and jewelry repair shops; furniture, home furnishings and equipment shops, and manufacturers, except appliances; artist supply and craft shops; music shops - musical instruments, pianos, and sheet music; health and beauty spas; hobby, toy and game shops; bicycle shops - sales and service; Antique Shopsâ€“Sales, Repairs and Restoration Services; Art Dealers and Galleries; jewelry, watch, clock, and silverware shops

Utility services: cable, satellite, and other pay television and radio services; telecom

Retail outlet services: florists supplies, nursery stock, and flowers; Computers, Computer Peripheral Equipment, and Software; Books, Periodicals and Newspapers; lawn and garden supply outlets, including nurseries; motor vehicle supplies and new parts; stationery, office supplies and printing and writing paper

Professional services and membership organisations: opticians, optical goods, and eyeglasses

Business Services: computer programming , data processing, and integrated systems design services; equipment, tool, furniture, and appliance rent al and leasing

Clothing stores: shoe shops

We roll clothing stores into retail outlet services to make 5 distinct merchant groupings