In [12]:
# from pyspark.sql import SparkSession
# import pyspark.pandas as ps
import numpy as np
import pandas as pd

import seaborn as sns

# spark = (
#     SparkSession.builder.appName("BNPL")
#     .config("spark.sql.repl.eagerEval.enabled", True) 
#     .config("spark.sql.parquet.cacheMetadata", "true")
#     .config("spark.driver.memory", "8g")
#     .getOrCreate()
# )

data_directory = "../data/"
tables_directory = data_directory + "tables/"
transactions_directory = tables_directory + "transactions_20210228_20210827_snapshot/"
merchants_file_loc = tables_directory + "tbl_merchants.parquet"

In [13]:
merchants = pd.read_parquet(merchants_file_loc)
transactions = pd.read_parquet(transactions_directory)
transactions.count()

user_id           3643266
merchant_abn      3643266
dollar_value      3643266
order_id          3643266
order_datetime    3643266
dtype: int64

In [14]:
transactions = transactions.merge(merchants, how="left", on="merchant_abn")
transactions["order_datetime"] = pd.to_datetime(transactions["order_datetime"])
transactions.count()

user_id           3643266
merchant_abn      3643266
dollar_value      3643266
order_id          3643266
order_datetime    3643266
name              3494038
tags              3494038
dtype: int64

Theres merchant abns in transactions that arent in the merchants table

In [9]:
merchants.count()

name    4026
tags    4026
dtype: int64

In [10]:
consumer_file_loc = tables_directory + "tbl_consumer.csv"
consumers = pd.read_csv(consumer_file_loc, sep="|")
consumers.count()

name           499999
address        499999
state          499999
postcode       499999
gender         499999
consumer_id    499999
dtype: int64

In [11]:
transactions[transactions.isnull().any(axis=1)]

,user_id,merchant_abn,dollar_value,order_id,order_datetime,name,tags
6,3,29566626791,46.330872,26b7574e-81c2-4558-a7d1-017ea9d29440,2021-02-28,NaN,NaN
39,18512,75342681786,11.114536,bdd7bdb2-f5c6-47e6-81f8-4e8c0d9882d2,2021-02-28,NaN,NaN
51,18519,27130058170,914.106232,f0a2ad39-0b6f-4b22-a87f-0345ae4bb677,2021-02-28,NaN,NaN
54,29,29323795999,9.257938,e74e8f04-2fe3-44d4-b081-0ccf1e8aba69,2021-02-28,NaN,NaN
68,32,32234779638,15.485283,ed81cbe9-2474-45a8-895a-9189c3877e84,2021-02-28,NaN,NaN
...,...,...,...,...,...,...,...
3643225,18431,75342681786,19.955335,a1cec489-6aa8-4254-901c-50a9a9ef4d30,2021-08-27,NaN,NaN
3643232,18437,32234779638,78.371616,b9507b5c-a838-4fd4-befc-12b6a8a0e478,2021-08-27,NaN,NaN
3643245,18455,32234779638,14.372271,8260af91-769c-4a70-8718-05f67debdbc4,2021-08-27,NaN,NaN
3643254,18460,20562405782,250.924374,1642786c-97ea-4496-b3a3-a00dd9a1e5aa,2021-08-27,NaN,NaN
3643261,18470,29323795999,8.346682,f35299fa-c9f4-408e-bb86-b9d5fff65a9a,2021-08-27,NaN,NaN

Transactions linked to non valid abn